@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Inter';
}
:root {
    --primeiro: #ffffff;
    --segundo: #551010;
    --terceiro: #d9d9d9;
    --quarto: #1046cf;
    --quinto: #148943;
    --black: #000000;
    --white: #ffffff;
}
header{
    display: flex;
    justify-content: space-between;
    border-bottom: var(--quarto);
    border-bottom-width: 3rem;
    border-bottom-style: solid;
    height: 10rem;
    background-image: url("./img/banner\ 1.png");
}
header img{
    padding: 0rem;
}
header nav{
    display: flex;
    align-items: center;
}
header nav a{
    margin: 0 0.5rem;©

main{
    min-height: calc(100vh - 8.5rem);
}

main.index{
    display: flex;
    align-items: center;
    justify-content: center;
}

main.formulario{
    display: grid;
}

header nav a:hover{
font-weight: Inter;
}
header nav a.entrar{
color: var(--quinto);
margin: 1rem;
}
header nav a.cadastrar{
color: var(--quarto);
}
main.login section aside{
    margin: 0.7rem 0;


}grid-template-columns: auto auto auto auto;ffff;
}
header nav a.voltar{
    color: var(--segundo);
    margin: 1rem;
}